@model FirstWebApplication.Models.User

<form name="userForm">
    @Html.AntiForgeryToken();
    <div class="modal-header">
        <h4 class="modal-title">
            
            <span>Create New User</span>

        </h4>
    </div>
    <div class="modal-body">
        @Html.HiddenFor(c => c.Id)
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(x => x.UserId, "Mã nhân viên", htmlAttributes: new { @class = "control-label col-md-2 no-wrap" })
                    <div class="col-md-10">
                        @Html.EditorFor(x => x.UserId, new { htmlAttributes = new { @class = "form-control ", required = true } })
                        @Html.ValidationMessageFor(x => x.UserId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.UserName, "Tên nhân viên", htmlAttributes: new { @class = "control-label col-md-2 no-wrap" })
                    <div class="col-md-10">
                        @Html.EditorFor(x => x.UserName, new { htmlAttributes = new { @class = "form-control", required = true } })
                        @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Password, "Mật khẩu", htmlAttributes: new { @class = "control-label col-md-2 no-wrap" })
                    <div class="col-md-10">
                        @Html.PasswordFor(x => x.Password, new { @class = "form-control", required = true })
                        @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.Email, "Email", htmlAttributes: new { @class = "control-label col-md-2  no-wrap" })
                    <div class="col-md-10">
                        @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control", required = true } })
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Tel, "Số điện thoại", htmlAttributes: new { @class = "control-label col-md-2 no-wrap" })
                    <div class="col-md-10">
                        @Html.EditorFor(x => x.Tel, new { htmlAttributes = new { @class = "form-control", required = true } })
                        @Html.ValidationMessageFor(x => x.Tel, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-sm pull-left" data-dismiss="modal" aria-label="Close">Cancel</button>
        <button type="button" onclick="createOrUpdate()" class="btn btn-sm btn-success pull-right" data-dismiss="modal">Save</button>
    </div>

</form>





@*@model FirstWebApplication.Models.User

<form name="userForm">
    @Html.AntiForgeryToken();
    <div class="modal-header">
        <h4 class="modal-title">
            <span>Create New User</span>
        </h4>
    </div>
    <div class="modal-body">
        @Html.HiddenFor(c => c.Id)
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="UserId" class="control-label col-md-2 no-wrap">Mã nhân viên</label>
                    <div class="col-md-10">
                        <input id="UserId" name="UserId" class="k-textbox" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="UserName" class="control-label col-md-2 no-wrap">Tên nhân viên</label>
                    <div class="col-md-10">
                        <input id="UserName" name="UserName" class="k-textbox" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Password" class="control-label col-md-2 no-wrap">Mật khẩu</label>
                    <div class="col-md-10">
                        <input id="Password" name="Password" type="password" class="k-textbox" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Email" class="control-label col-md-2 no-wrap">Email</label>
                    <div class="col-md-10">
                        <input id="Email" name="Email" class="k-textbox" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Tel" class="control-label col-md-2 no-wrap">Số điện thoại</label>
                    <div class="col-md-10">
                        <input id="Tel" name="Tel" class="k-textbox" required />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm pull-left" data-dismiss="modal" aria-label="Close">Cancel</button>
        <button type="button" onclick="createOrUpdate()" class="btn btn-sm btn-success pull-right" data-dismiss="modal">Save</button>
    </div>
</form>*@
